/* Shared styles */
body {

    font-family: 'Work Sans', sans-serif;
}

/* Header related styles */

/* navbar related styles */
.nav-container {
    display: flex;
    background: #FFF;
    width: 1155px;
    height: 80px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 100px;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.logo-container img {
    width: 86.041px;
    height: 40px;
}

.nav-items-container {
    display: flex;
}

.nav-items-container>ul {
    display: flex;
}

.nav-btn {
    display: flex;
    padding: 15px;
    padding-left: 50px;
    gap: 20px;
}

.nav-items-container li {
    list-style: none;
    margin-right: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-items-container li a {
    text-decoration: none;
    color: #3C354F;
}

.nav-btn {
    width: 270px;
    height: 45px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    border: 0;
    margin-top: -11px;
}

.logo-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-top: -8px;
    margin-left: 10px;
}

.logo-title span {
    color: #FF42A5;
}

/* banner related styles */
.banner-container {
    display: flex;
    width: 60%;
    background-image: url('../images/Group\ 14.png');


}


.banner-title1 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    width: 350px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 98px;
    margin-top: 160px;
}

.banner-title2 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 90px;
    margin-top: -50px;
}

.banner-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-left: 105px;
}

.primary-btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    width: 130px;
    height: 50px;
    margin-left: 105px;
    margin-top: 20px;
}

.btn2 {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    width: 160px;
    height: 50px;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    margin-top: 20px;

}

.banner-sub-container2 img {
    width: 500px;
    height: 700px;
    padding-left: 350px;
    margin-top: 20px;
}



/* main related styles */

/* online game section */
.online-game-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.online-game-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 100px;
}

.online-game-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.online-game-images {
    display: flex;
}

.online-game-images img {
    margin-top: 20px;
    width: 200px;
    border-radius: 16px;
    padding: 50px 40px 0px 90px;


}

.img1 {
    margin-left: 70px;
}

.img2 {
    margin-left: -70px;
}

.img3 {
    margin-left: -70px;
}

.img4 {
    margin-left: -70px;
}



.online-game-images p {
    color: #534C64;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    margin-left: 90px;
}

/* Play instantly section */
.play-instantly-container {
    width: 900px;
    height: 300px;
    margin-top: 140px;
    display: flex;
}

.play-instantly-title span {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    background: #F948B2;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
    width: 400px;
    margin-left: 50px;
    margin-top: 180px;

}

.play-instantly-img1 {
    width: 450px;
    height: 600px;
    border-radius: 5px;
    padding: 0px 0px 50px 240px;
}

.play-instantly-img2 {
    position: relative;
    margin-top: -400px;
    width: 250px;
    height: 300px;
    margin-left: 120px;
}

.play-instantly-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    width: 353px;
    margin-top: 20px;
    margin-left: 100px;
}

/* icon button section */



.icon-btn-container {
    margin-top: 550px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}



.icon-btn-container1 :hover {
    border: 1px solid #FF42A5;
    border-radius: 100px;
    color: #FF42A5
}

.icon-btn-container2 :hover {
    border: 1px solid #FF42A5;
    border-radius: 100px;
    color: #FF42A5
}

.icon-btn-container img {
    width: 40px;
    height: 40px;
}

.icon-btn-container button {
    width: 190px;
    height: 50px;
    background: #FFF;
    border-radius: 90px;
    text-align: center;
    border: 0;

}

/* footer section */

.footer {
    width: 1332px;
    height: 530px;
    flex-shrink: 0;
    background: #0B0223;
    margin: 0;
    margin-top: 100px;
}

.footer-img {
    margin-left: 550px;
    margin-top: 100px;
}

.footer h2 {
    color: #FFF;
    margin-top: -50px;
    margin-left: 90px;
}

.footer-description1 {
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    gap: 60px;
    margin-left: 298px;
    margin-top: 50px;
}

.footer-icon {
    display: flex;
    color: #FFFFFF;
    gap: 60px;
    margin-top: 40px;
    margin-left: 470px;
}



.footer-description2 {
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    gap: 50px;
    margin-left: 340px;
    margin-top: 50px;
}

.footer p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

/* responsive media queries for mobile devices*/
 @media screen and (max-width: 576px)  {

    .logo-container img{

      margin-left: -50px;
    }

    .nav-container{
        flex-direction: column;
    }


    .nav-items-container>ul{
        flex-direction: column;
        row-gap: 30px;
        margin-left: -80px;
        margin-top: 10px;
    }

    .banner-container{
        flex-direction: column;
        width: 100%;
        margin-top: 140px;
        
    }

    .banner-sub-container1{
        width: 100%;
        height: 10px;
    }
    .banner-description{
        font-size: 1rem;
        margin-left: 5px;
    }

    .banner-title1{
        font-size: 2rem;
        margin-left: -5px;
    }
    .banner-title2{
        font-size: 4rem;
        margin-left: -20px;
        padding-top: 10px;
    }
    .primary-btn{
        margin-left: 30px;
    }
    .btn2{
        margin-left: 5px;
        margin-top: 2px;
    }

    .banner-sub-container2 img{
        margin-left: -350px;
        margin-top: 500px;
        width: 100%;
    }

    .online-game-images{
        flex-direction: column;
    }

    .img1, .img2, .img3, .img4 {
        margin: 0;
    }

    .play-instantly-container{
        flex-direction: column;
        margin-top: 5px;
    }
    
    .play-instantly-title{
        font-size: 3rem;
        width: 40%;
        margin-left: 5px;
    }
    .play-instantly-description{
        margin-left: -10px;
        font-size: 1rem;
        align-items: center;
    }
    .play-instantly-img1{
        margin-left: -200px;
        width: 40%;
        height: 300px;
    }

    .play-instantly-img2{
        margin-left: -400px;
        width: 20%;
        height: 180px;
    }
    
    .icon-btn-container{
        margin-left: 90px;
        margin-top: 600px;
    }

    .footer{
        width: 100%;
        height: 810px;
    }

    .footer-img{
        margin-left: 70px;
    }
    

    .footer-description1{
        flex-direction: column;
        gap: 0;
        margin-left: -20px;
        font-size: 1rem;
        margin-top: -25px;
    }

    .footer-icon{
      margin-left: 60px;
      gap: 30px;
    }

    .footer-description2{
        margin-left: -20px;
        flex-direction: column;
        gap: 0px;
        margin-top: 0;
    }
  
 }
 
 /* responsive media queries for medium or tablet devices*/
  
 @media screen and (min-width:576px) and (max-width:960px){

    .logo-container img{
        width: 100%;
        height: 40px;
        margin-left: -80px;
    }

    .logo-title{
        font-size: 2rem;
        margin-top: 8px;
        margin-left:10px;
    }

    .nav-items-container{
        width: 100%;
        margin-top: -15px;
        margin-left: -10px;
}
    
    .nav-items-container>ul{
        align-items: center;
        margin-left: 10px;
    }

    .banner-container{
        width: 100%;
        flex-direction: column;
    }

    .banner-sub-container2 img{
        width: 100%;
        margin-left: -340px;
    }



    /*  */
    .online-game-images{
        flex-direction: column;
    }

    .img1{
        margin-left: 170px;
    }

    .img2{
        margin-left: 170px;
    }

    .img3{
        margin-left: 170px;
    }

    .img4{
        margin-left: 170px;
    }

    .play-instantly-container{
        flex-direction: column;
        margin-top: -110px;
    }
    .play-instantly-sub-container{
        margin-left: 100px;
    }
    .play-instantly-title{
        text-align: center;
        margin-left: 60px;
    }

    .play-instantly-description{
        text-align: center;
        margin-left: 60px;
    }

    .play-instantly-img1{
        flex-direction: column;
        margin-left: -110px;
        height: 350px;
    }

    .play-instantly-img2{
        width: 20%;
        height: 190px;
        margin-left: -550px;
    }

    .icon-btn-container{
        width: 70%;
        height: 300px;
        margin-left: 200px;
    }

    .footer-img{
        margin-left: 280px;
    }
    .footer h2{
        margin-left: -480px;
    }
    .footer-description1{
        margin-left: 120px;
        gap: 20px;
    }

    .footer-icon{
        margin-left: 190px;
    }

    .footer-description2{
        margin-left: 60px;
        text-align: center;
    }
    .footer>p{
        margin-left: -580px;
    }
    
   
    
 }
